* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}

:root {
    --lightgreen: #EAFFFA;
    --black: #292929;
    --grey: #6d6d6d;
    --green: rgb(32, 159, 140);
    --white: rgb(248, 248, 248);
}

.light {
    background-color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;    
    background-image: url('../src/background.png');
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);    
}

/* ! Nav  */

nav {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 3.75em;
    position: fixed;
    transition: 0.3s;
    z-index: 200;
}

.logo_menu_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.title_container {
    transition: 0.3s;
}

.title_1 {
    font-size: 1.25em;
    color: var(--green);
}

.title_2 {
    font-size: 1.56em;
    padding: 0px 1em;
}

.menu_container {
    display: flex;
}

.menu_container1 {
    display: flex;
}

.menu_container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 50vw;
}

.menu_container ul li {
    font-size: 1.25em;
}

.menu_container ul a:hover {
    border-bottom: 1px solid var(--green);
}

.menu_container button {
    background-color: rgba(0,0,0,0);
    border: 0px;
    cursor: pointer;
    margin-left: 2em;
    transition: 0.3s;
}

.menu_container button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.dark_light {
    display: flex;
    align-items: center;
    margin-left: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dark_light_img {
    width: 2.5em;
    transition: 0.3s;
}

.dark_light_img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.ham_button {
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.bar {
    display: none;
    background-color: var(--black);
    height: 3px;
    width: 22px;
    margin: 5px auto;
    border-radius: 2px;
}


/* ! home - 1ra seccion */

.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60vw;
}

.home_container div {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40vw;
}

.home_container div span{
    font-size: 1em;
}

.home_container div h1 {
    font-size: 3em;
    font-weight: 800;
    color: var(--green);
    margin-bottom: -0.2em;
}    

.home_container div h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.home_container div button {
    font-size: 0.8em;
    margin-top: 2em;
    width: 10em;
    height: 2.5em;
    border-radius: 0.5em;
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    cursor: pointer;
    transition: 0.3s;
}

.home_container div button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.rrss_container {
    padding: 1.5em 0em;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.rrss_container img {
    margin-right: 0.5em;
}

.rrss_container a {
    margin-right: 1em !important;
}

/* ! proyectos */

.project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.project_container h2 {
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 2em;
    border-bottom: 2px solid var(--green);
}

.card_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.project_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(41,41,41,.2);
    width: 350px;
    height: 400px;
    margin: 2em 1em;
}

.project_card h3 {
    text-align: center;
    padding: 0.7em 1em;
    background-color: var(--green);
    color: var(--white);
    border-radius: .85em .85em 0em 0em;
    box-sizing: border-box;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

.svg_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.8em;
}

.svg {
    width: 1.2em;
    margin-right: 0.5em;
    transition: 0.3s;
}

.svg:hover {
    transform: scale(1.1);
    transition: 0.3s
}

.project_card span {
    font-size: 0.9em;    
    padding: 1em 1em 2em 1em;
}

.svg_container span {
    padding: 0em 0em 0em 1em;
}

.deploy_container {
    position: relative;
}

.deploy_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 96%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s;
}

.deploy_hover:hover {
    opacity: 1;
    transition: 0.5s;
}

.deploy_img {
    width: 100%;
}

.deploy_hover span {
    color:var(--white);
    font-size: 1.2em;
    padding: 0px;
}

/* ! tecnologías */

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.skills_container h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    border-bottom: 2px solid var(--green);
}

.skills_container div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.skill_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 3em 1em 3em;
}

.skill_card img {
    width: 5em;
}

/* ! sobre mí */

.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.about_container h2 {    
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    border-bottom: 2px solid var(--green);
}

.about_container span {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 0em 5em;
}

.about_container span:nth-child(3){
    margin-bottom: 2em;
}

/* ! contacto */

.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.contact_container h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    border-bottom: 2px solid var(--green);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

input {
    width: 40vw;
    height: 2.5em;
    border-radius: 0.5em;
    border: 1px solid var(--green);
    background-color: var(--white);
    margin: 1em 0em;
    padding-left: 1em;
    outline: none;
}

input::placeholder {
    color: var(--grey);
}

input:nth-child(6) {
   padding-bottom: 6em;
}

form button {
    height: 2.5em;
    margin-top: 0.5em;
    border-radius: 0.5em;
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {    
    transform: scale(1.05);
    transition: 0.3s;
}

/* !Footer */

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10em;
    background-color: var(--green);
    color: var(--white);
    font-size: 1.1em;
}

.footer_container a {
    color: var(--white);
}

.footer_container img {
    width: 1em;
}

.logo_container {
    padding: 1em 0em;
    display: flex;
    flex-direction: row !important;
}

.logo_container img{
    margin-right: 0.5em;
    margin-left: 1em;
}

@media (max-width: 1023px){

    /* ! Nav  */

    .title_1 {
        font-size: 1em;
    }
    
    .title_2 {
        font-size: 1.3em;
        padding: 0px 0.5em;
    }
    
    .menu_container ul {
        width: 50vw;
    }
    
    .menu_container ul li {
        font-size: 1em;
    }

    /* ! home - 1ra seccion */

    .home_container {
        height: 100vh;
        width: 80vw;
    }

    .home_container div {    
        width: 60vw;
    }

    /* ! proyectos */

    .project_container {
        width: 80vw;
    }

    .project_container h2 {
        font-size: 1.7em;
    }

    /* ! tecnologías */

    .skills_container {
        width: 80vw;
    }

    .skills_container h2 {
        font-size: 1.7em;
    }

    /* ! sobre mí */

    .about_container {
        width: 80vw;
    }

    .about_container h2 {    
        font-size: 1.7em;
    }

    .about_container span {
        font-size: 1.1em;
    }

    /* ! contacto */

    .contact_container {
        width: 80vw;
    }

    .contact_container h2 {
        font-size: 1.7em;
    }

    input {
        width: 60vw;
    }

}

@media (max-width: 800px){

    /* ! Nav  */

    #nav {
        align-items: flex-start;
        height: 3.75em;
    }

    .title_1 {
        padding: 0.3em 0em;
        font-size: 1em;
    }
    
    .title_2 {
        font-size: 1.3em;
        padding: 0px 0.5em;
    }

    .ham_button {
        position:absolute;
        top: 1.1em;
        right: 2em;
    }

    .bar1.animado {
        transform: rotate(-45deg) translate(-6px, 5.5px);
    }

    .bar2.animado {
        opacity: 0;
    }

    .bar3.animado {
        transform: rotate(45deg) translate(-6px, -5.5px);
    }

    .bar {
        display: block;
    }

    .logo_menu_container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .title_container {
        padding: 1em 1.2em;
        background-color: var(--white);
        width: 100%;
        z-index: 100;
    }

    .menu_container {
        position: fixed;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        padding: 0px;
        margin: 0px;
        width: 100vw;
        transition: 0.5s;
    }

    .top {
        top: -213px;
        transition: 0.5s;
    }
    
    .menu_container ul {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .menu_container ul li {
        font-weight: 600;
        padding: 0.5em 0em;
        background-color: var(--white);
        text-align: center;
        width: 100%;
    }

    .dark_light {
        position: absolute;
        top: 1.5em;
        right: 5em;
        z-index: 200;
    }
}

@media (max-width: 450px){

    /* ! Nav  */

    .title_1 {
        padding: 0.3em 0em;
        font-size: 1em;
    }
    
    .title_2 {
        font-size: 1.1em;
        padding: 0px 0.5em;
    }

    .ham_button {
        position:absolute;
        top: 1.1em;
        right: 1em;
    }

    .bar {
        height: 2.5px;
        width: 18px;
    }

    .bar1.animado {
        transform: rotate(-45deg) translate(-5px, 5.5px);
    }

    .bar3.animado {
        transform: rotate(45deg) translate(-5px, -5.5px);
    }

    .dark_light {
        position: absolute;
        top: 1.5em;
        right: 3.5em;
        z-index: 200;
    }

    /* ! proyectos */

    .card_container {
        justify-content: center;
    }

    /* ! tecnologías */

    .skills_container {
        width: 80vw;
    }

    .skill_card img {
        width: 4em;
    }

    /* ! sobre mí */

    .about_container h2 {    
        font-size: 1.7em;
    }

    .about_container span {
        font-size: 1em;
        padding: 0em 2em;
    }

    /* ! contacto */

    .contact_container {
        width: 80vw;
    }

    .contact_container h2 {
        font-size: 1.7em;
    }

    input {
        width: 70vw;
    }

    /* !Footer */

    .footer_container {
        height: 7em;
        font-size: 1em;
    }

    .footer_container a {
        color: var(--white);
    }

    .logo_container {
        display: flex;
        flex-direction: row !important;
        padding: 0em;
        padding-top: 1em;
    }

    .logo_container img{
        width: 1em;
        margin-right: 0.5em;
        margin-left: 1em;
    }
}

/* !Dark Mode */

.dark {
    background-color: var(--black) !important;
    transition: 0.3s;
}

.dark_text {
    color: var(--white) !important;
    transition: 0.3s;
}

